main > .container, main > .container-fluid
{
    //padding: 70px 15px 20px;
    max-width: 100%;
    padding: 0px;
}

.footer {
    background-color: #002A32;
    font-size: .9em;
    height: 60px;
    font-weight: bold;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.footer-info-dots {
    width: 5px;
    margin-right: 10px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* ╔═══════════════════════════╗ */
/* ║     NavBar Components     ║ */
/* ╚═══════════════════════════╝ */

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

.navbar-brand img {
    display: inline;
    vertical-align: top;
    width: 100px;
}

.nav-link {
    color: #21CECC;
}

.navbar {
    background-color: #002A32;
    font-weight: bold;
}

.navbar-item-jobby:hover {
    color: #ecf0f1;
    text-shadow: 0 0 5px #21CECC,
    0 0 10px #21CECC,
    0 0 20px #21CECC,
    0 0 40px #21CECC;
    transition: text-shadow .15s ease-in-out;
}

/* ***** End of Section ***** */

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}


/* ╔═══════════════════╗ */
/* ║     Copyright     ║ */
/* ╚═══════════════════╝ */

.copyright span,
.copyright a {
    /*color: #878787;*/
    color: #21CECC;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright span:hover,
.copyright a:hover {
    color: #ecf0f1;
    text-shadow: 0 0 5px #21cecc,
    0 0 10px #21CECC,
    0 0 20px #21CECC,
    0 0 40px #21CECC;
    transition: text-shadow .15s ease-in-out;
}

.copyright span:hover {
    cursor: default;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}

/* ***** End of Section ***** */


/* ╔═════════════════════════╗ */
/* ║     Wave Components     ║ */
/* ╚═════════════════════════╝ */

.header {
    position:relative;
    text-align:center;
    //background: linear-gradient(60deg, rgba(130, 204, 221, 1) 25%, rgba(243, 105, 88, 1) 100%);
    background: linear-gradient(60deg, rgba(3, 133, 131) 25%, rgba(33, 206, 204) 100%);
    color:white;
}

.inner-header {
    height:75vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}

/* ■ ■ Shrinking for mobile ■ ■ */

@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
}

/* ***** End of Section ***** */


/* ╔════════════════════════╗ */
/* ║     Intro -> Waves     ║ */
/* ╚════════════════════════╝ */

.intro-lead-in {
    margin-top: 100px;
    margin-bottom: 70px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

.intro-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
}

/* ***** End of Section ***** */


/* ╔══════════════════════════════╗ */
/* ║     Presentation Section     ║ */
/* ╚══════════════════════════════╝ */

.presentation-section {
    margin-top: 40px;
    //min-height: 60vh;
    padding: 100px 0;
}

.presentation-box {
    padding: 60px;
//background-color: #f36958;
//background-color: #038583;
    background: linear-gradient(60deg, rgba(3, 133, 131) 25%, rgba(33, 206, 204) 100%);
    border-radius: 20px 50px;
    color: white;
    height: 280px;
}

.presentation-radius {
    width: 75%;
    border-radius: 10%;
    float: right;
}

/* ***** End of Section ***** */


/* ╔══════════════════════╗ */
/* ║     Card Section     ║ */
/* ╚══════════════════════╝ */

.card-section {
    display: flex;
    align-items: center;
    padding: 100px 0;
//min-height: 75vh;
//background: #f8f8f8;
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .grid {
        max-width: 1350px;
    }
}

.card__box {
    position: relative;
    flex: 1 1 100%;
    margin: 31px 0;
    padding: 20px;
    background: #fff;
}

@media screen and (min-width: 768px) {
    .card__box {
        flex-basis: calc(33.33% - (62px + 40px));
        margin: 0 31px;
    }
}

.card__thumb {
    overflow: hidden;
}

.card__img {
    margin: -20px -20px 0;
}

.card__img img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

.card__title {
    text-align: center;
}

.card__desc {
    margin-top: 20px;
    text-align: center;
}

.card__two .card__img {
    padding: 20px;
}

.card__one {
    transition: transform 0.5s;
}

.card__one::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
}

.card__one:hover, .card__one:focus {
    transform: scale3d(1.006, 1.006, 1);
}

.card__one:hover::after, .card__one:focus::after {
    opacity: 1;
}

.card__two::before, .card__two::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.38s ease-in-out, transform 0.35s ease-in-out;
    content: '';
    opacity: 0;
    pointer-events: none;
}

.card__two::before {
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
}

.card__two::after {
    transform: scale3d(1, 0, 1);
    transform-origin: right top;
    border-right: 1px solid #acacac;
    border-left: 1px solid #acacac;
}

.card__two:hover::before, .card__two:focus::before, .card__two:hover::after, .card__two:focus::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.card__three::before, .card__three::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
}

.card__three::before {
    transform-origin: left top;
}

.card__three::after {
    transform-origin: right bottom;
}

.card__three:hover::before, .card__three:focus::before, .card__three:hover::after, .card__three:focus::after {
    transform: scale3d(1, 1, 1);
}

/* ***** End of Section ***** */


/* ╔═════════════════════════════╗ */
/* ║     Testimonial Section     ║ */
/* ╚═════════════════════════════╝ */

.testimonials {
    padding: 100px 0;
}
.testimonials h3 {
    margin-bottom: 20px;
}
.testimonials .card {
    border-bottom: 3px #21CECC solid !important;
    transition: 0.5s;
    margin-top: 60px;
}
.testimonials .card i {
    //background-color: #21CECC;
    background: linear-gradient(60deg, rgba(3, 133, 131) 25%, rgba(33, 206, 204) 100%);
    color: #ffffff;
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: -40px auto 0 auto;
}

/* ***** End of Section ***** */


/* ╔══════════════════════════╗ */
/* ║     Software Section     ║ */
/* ╚══════════════════════════╝ */

.software-section {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.software-box {
    padding: 60px;
    //background-color: #f36958;
    background: linear-gradient(60deg, rgba(3, 133, 131) 25%, rgba(33, 206, 204) 100%);
    border-radius: 50px 20px;
    color: white;
    height: 300px;
}

.software-radius {
    width: 75%;
    border-radius: 10%;
    float: left;
}

/* ***** End of Section ***** */


/* ╔═════════════════════╗ */
/* ║     Slide Image     ║ */
/* ╚═════════════════════╝ */

.slideanim {
    visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

/* ■ ■ Animation for Image ■ ■ */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* ***** End of Section ***** */


/* ╔══════════════════════════╗ */
/* ║     Image Components     ║ */
/* ╚══════════════════════════╝ */

img {
    max-width: 100%;
    max-height: 100%;
}

.img-fit {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

/* ***** End of Section ***** */


/* ╔════════════════════════════╗ */
/* ║     Buttons Components     ║ */
/* ╚════════════════════════════╝ */

.flex-grid-center {
    display: flex;
    justify-content: center;
//margin: 5em 0;
}
.fuller-button {
    color: rgba(255, 255, 255, 1);
    background: none;
    border-radius: 0;
    padding: 1.2em 5em;
    letter-spacing: 0.35em;
    font-size: 0.8em;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    margin: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
.fuller-button.blue {
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    border: #0dd solid 2px;
}
.fuller-button.blue:hover {
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.fuller-button.red {
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
    border: #fb5454 solid 2px;
}
.fuller-button.red:hover {
    background-color: #fb5454;
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.fuller-button.white {
    box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
    border: #fff solid 2px;
}
.fuller-button.white:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* ***** End of Section ***** */


/* ╔═════════════════════╗ */
/* ║     Text Effect     ║ */
/* ╚═════════════════════╝ */

.blue-effect:hover {
    color: #21CECC;
    text-shadow: 0 0 5px #21cecc,
    0 0 10px #21CECC,
    0 0 20px #21CECC,
    0 0 40px #21CECC;
    transition: text-shadow .15s ease-in-out;
}

/* ***** End of Section ***** */


/* ╔════════════════╗ */
/* ║     Colors     ║ */
/* ╚════════════════╝ */

.colors {
    color: #002A32;
    color: #21cecc;


    color: #E4A08E;
    color: #B67268;


    color: #21CECC;

    color: #07E2D3;

    color: #50E3C2;

    color: #29D9D5;

    color: #038583;

    color: #01a3a4;


    color: #03e9f4;
}

/* ***** End of Section ***** */